.product {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
    max-width: 500px;
}
.product img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.product .info>h4 {
    margin: 10px 0;
}