.product {
    margin: 20px;
    max-width: 500px;
    transition: all .3s ease-in-out;
}
.product:hover {
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.product img {
    width: 100%;
    max-height: 250px;
}
.product .info>p>a {
    color: #fff !important;
}
.product .info .name {margin: 10px 0 0 0;}
.product .info .by {margin: 0px 0 5px 0;}