.myNav a {
    color: #ddd !important;
}
.navLink button {
    text-align: start !important;
    background: 0;
    border: 0;
    color: #ddd;
    padding: 0;
}
.navLink button:hover {
    border: 1px solid white;
    border-radius: 3px;
    color: rgb(0, 76, 139) !important;
    transition: .3s ease-in-out;
}